html,
body {
  background: #FFF;
  color: #363639;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 16px; }

*, *:before, *:after {
  box-sizing: border-box; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

[ng-click], [tap] {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */ }

h1, h2, h3, h4, h5, h6, p, ul, ol {
  padding: 0;
  margin: 0; }
  h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h1 + p, h1 + ul, h1 + ol, h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6, h2 + p, h2 + ul, h2 + ol, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, h3 + p, h3 + ul, h3 + ol, h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6, h4 + p, h4 + ul, h4 + ol, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, h5 + p, h5 + ul, h5 + ol, h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6, h6 + p, h6 + ul, h6 + ol, p + h1, p + h2, p + h3, p + h4, p + h5, p + h6, p + p, p + ul, p + ol, ul + h1, ul + h2, ul + h3, ul + h4, ul + h5, ul + h6, ul + p, ul + ul, ul + ol, ol + h1, ol + h2, ol + h3, ol + h4, ol + h5, ol + h6, ol + p, ol + ul, ol + ol {
    margin-top: 1.5em; }

p {
  text-align: justify;
  line-height: 1.4; }

.subtext {
  font-size: .7em;
  opacity: .5; }

.ghost {
  opacity: .4; }

.vapor {
  opacity: 0; }

.left-text {
  text-align: left; }

.center-text {
  text-align: center; }

.right-text {
  text-align: right; }

.wrapper header {
  background: #3CF;
  color: #FFF; }

.bg-air {
  background: transparent; }

.bg-apple {
  background: #fc1770;
  color: #FFF; }

.bg-tangerine {
  background: #ff7f36;
  color: #363639; }

.bg-banana {
  background: #fff261;
  color: #363639; }

.bg-kiwi {
  background: #94ca3d;
  color: #363639; }

.bg-sky {
  background: #15c5ec;
  color: #FFF; }

.bg-berry {
  background: #c657af;
  color: #FFF; }

.bg-plum {
  background: #7f3fa6;
  color: #FFF; }

.bg-light {
  background: #FFF;
  color: #363639; }

.bg-dark {
  background: #363639;
  color: #FFF; }

.bg-active {
  background: #3CF;
  color: #363639; }

.fg-air {
  color: transparent; }

.fg-apple {
  color: #fc1770; }

.fg-tangerine {
  color: #ff7f36; }

.fg-banana {
  color: #fff261; }

.fg-kiwi {
  color: #94ca3d; }

.fg-sky {
  color: #15c5ec; }

.fg-berry {
  color: #c657af; }

.fg-plum {
  color: #7f3fa6; }

.fg-light {
  color: #FFF; }

.fg-dark {
  color: #363639; }

.fg-active {
  color: #3CF; }

@keyframes floating {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-30%); }
  100% {
    transform: translateY(0); } }
@keyframes flexGrow-0-1 {
  from {
    flex: 0; }
  to {
    flex: 1; } }
@keyframes flexShrink-1-0 {
  from {
    flex: 1; }
  to {
    flex: 0; } }
@keyframes flexGrow-1-2 {
  from {
    flex: 1; }
  to {
    flex: 2; } }
@keyframes flexShrink-2-1 {
  from {
    flex: 2; }
  to {
    flex: 1; } }
.floating {
  animation-name: floating;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.as-sortable-item {
  background-color: #ffffff;
  touch-action: auto; }

.as-sortable-item-handle {
  cursor: move; }

.as-sortable-placeholder {
  width: auto !important;
  height: auto !important;
  display: flex !important;
  box-shadow: 0 0 0 0.3em #FFF inset; }
  .as-sortable-placeholder::after {
    content: '';
    display: inline-block;
    font-size: 85%;
    padding: .5em 1em; }

.as-sortable-drag {
  transform: rotate(-3deg);
  box-shadow: 0 0.5em 1em -0.35em rgba(0, 0, 0, 0.65);
  position: absolute;
  pointer-events: none;
  font-size: .8em;
  padding: 0;
  min-height: 0 !important;
  display: block !important;
  background: none !important;
  z-index: 50 !important; }
  .as-sortable-drag .as-sortable-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.as-sortable-hidden {
  display: none !important; }

html, body, .wrapper {
  overflow: hidden;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-0 {
  flex: 0 0 0px !important; }

.flex-1 {
  flex: 1; }

.flex-auto {
  flex: 0 0 auto !important; }

.wrapper {
  display: flex;
  flex-direction: row; }

.workspace {
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
  z-index: 1; }
  .workspace .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    z-index: 1;
    font-size: 1.2vmin;
    font-family: "DIN Alternate", monospace; }
    .workspace .main h1 {
      font-weight: 300;
      font-size: 2.7em;
      margin: .7em 0; }
    .workspace .main h2 {
      font-weight: 300;
      font-size: 1.5em; }
    .workspace .main.slidersActive .sliders {
      transform: translate(0, 0) translateZ(0); }
    .workspace .main.menuActive .controls.top b {
      flex: 1; }
    .workspace .main.menuActive .menu {
      transform: translate(0, 0) translateZ(0); }
    .workspace .main.historyActive .history {
      transform: translate(0, 0) translateZ(0); }
  .workspace section {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: 1;
    flex: 7;
    transition: 1.5s ease-in-out; }
  .workspace .canvas {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex: 4;
    transition: 1.5s ease-in-out; }
  .workspace .dial {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    flex: none; }
    .workspace .dial.fancy {
      background-image: radial-gradient(circle at 50% 60%, #fff, #000);
      mix-blend-mode: overlay; }
  .workspace .panel {
    font-size: 2vh;
    line-height: 2;
    z-index: 4;
    display: flex;
    flex-direction: row;
    position: absolute;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(0, -110%) translateZ(0);
    transition: transform 0.3s cubic-bezier(0.85, -1, 0.15, 1.6); }
    .workspace .panel > div {
      position: relative;
      z-index: 0; }
    .workspace .panel input[type=range] {
      margin-top: 0; }
  .workspace .menu {
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.65);
    color: #FFF;
    box-shadow: 0 0 0 .3em inset; }
    .workspace .menu > div:not(.panel-toggle) {
      flex: 0 0 calc(100%/3);
      display: flex;
      white-space: nowrap;
      padding: 1em;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: .3em;
      text-transform: capitalize; }
      .workspace .menu > div:not(.panel-toggle):hover {
        z-index: 2; }
    .workspace .menu .panel-toggle {
      background: #FFF;
      color: #363639;
      position: absolute;
      top: 0;
      right: 0;
      line-height: 0;
      padding: 1.3em 1.3em 1em 1em;
      z-index: 3;
      border-radius: 0; }
  .workspace .sliders {
    pointer-events: none; }
    .workspace .sliders > div {
      flex: 1; }
      .workspace .sliders > div:not(.gap) {
        min-width: 12em;
        max-width: 18em;
        pointer-events: auto;
        background-color: rgba(0, 0, 0, 0.65);
        color: #FFF;
        box-shadow: 0 0 0 .3em inset, 0 0 1em 0 #000; }
    .workspace .sliders nav {
      text-align: center;
      border-bottom: .1em solid; }
      .workspace .sliders nav .button {
        padding: .5em;
        color: #363639;
        background: #FFF; }
        .workspace .sliders nav .button.active {
          color: #3CF; }
    .workspace .sliders .settings {
      overflow: auto;
      padding: 1em; }
    .workspace .sliders .panel-toggle {
      background: #FFF;
      color: #363639;
      padding: .7em;
      margin: -.75em -.75em -1.05em 1em; }
  .workspace .button-bar {
    text-align: center;
    margin: .3em;
    box-shadow: 0 0 0 .3em; }
  .workspace .history-toggle {
    position: absolute;
    top: -4em;
    left: 0;
    transform: translate(2em, -4em);
    background: rgba(0, 0, 0, 0.35);
    color: #FFF;
    border-radius: 100%;
    padding: 2.5em;
    z-index: 10; }
    .workspace .history-toggle .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .workspace .palette {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 3;
    flex: 1;
    min-height: 10em;
    color: #FFF;
    background: #000 repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 0.5em, transparent 0.5em, transparent 1em); }
    .workspace .palette.bottom {
      position: absolute;
      top: auto;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translate(0, 100%) translateZ(0);
      transition: transform 0.3s cubic-bezier(0.85, -1, 0.15, 1.6);
      border-top: 1em solid; }
      .workspace .palette.bottom .hex {
        color: inherit; }
  .workspace .controls {
    position: relative;
    flex: 0 0 auto;
    line-height: 0;
    z-index: 2;
    font-size: 4.25vmin;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #363639;
    color: #FFF; }
    .workspace .controls > div {
      padding: 1em;
      position: relative;
      display: flex;
      align-items: center;
      line-height: 1; }
      .workspace .controls > div.active {
        color: #3CF; }
  .workspace a {
    text-decoration: none;
    color: inherit; }
  .workspace .hex-font {
    font-family: "DIN Alternate", monospace; }

.ui-fun {
  transform: scale(1) translateZ(0);
  transition: transform 0.3s cubic-bezier(0.85, -1, 0.15, 1.6); }
  .ui-fun:hover {
    transform: scale(1.25) translateZ(0); }

.trans {
  transition: 0.3s ease-out; }

.color-display {
  align-items: center;
  position: relative; }
  .color-display a {
    text-decoration: none;
    color: inherit; }
  .color-display.no-trans .color-ring > div {
    transition: none; }

.color-ring-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateZ(0); }

.color-ring {
  position: relative;
  width: 24em;
  height: 24em;
  pointer-events: none;
  border-radius: 100%;
  overflow: visible;
  transform-origin: 50% 50%;
  line-height: 0;
  transition: transform 0.3s ease-out; }
  .color-ring > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: absolute;
    top: -12vmax;
    right: 50%;
    bottom: 50%;
    left: 50%;
    transform-origin: center bottom;
    transform: rotate(180deg);
    transition: transform 0.3s ease-out, top 0.3s ease-out; }
  .color-ring .color-brick {
    flex: 0 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto; }

.color-info {
  position: relative;
  width: 19em;
  height: 19em;
  text-align: center;
  font-size: 1.35em;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: 0.3s ease-out; }
  .color-info > * + * {
    margin: 0; }

.color-brick {
  position: relative;
  text-align: center;
  line-height: 0;
  font-size: 2.1vmax;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  cursor: pointer; }
  .color-brick .hex {
    color: transparent;
    padding: .75em .35em;
    border-radius: 0 0 .35em .35em; }
  .color-brick .manage {
    font-size: 0;
    position: absolute;
    top: 1em;
    right: 1em; }
  .color-brick.current {
    z-index: 2; }
    .color-brick.current .hex {
      background: #363639;
      color: #FFF;
      position: relative;
      box-shadow: 0 0 0 0.2em #FFF; }
      .color-brick.current .hex::before, .color-brick.current .hex::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%); }
      .color-brick.current .hex::before {
        border: .7em solid transparent;
        border-top-color: #FFF; }
      .color-brick.current .hex::after {
        top: calc(100% - 1px);
        border: .5em solid transparent;
        border-top-color: #363639; }
  .color-brick [as-sortable-item-handle] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.main:not(.always-show-hex) .color-ring .color-brick .hex, .main:not(.always-show-hex) .color-ring .color-brick .manage {
  font-size: 0; }
.main:not(.always-show-hex) .color-ring .color-brick:hover .hex {
  font-size: 1em; }
.main:not(.always-show-hex) .palette .color-brick.current .hex {
  font-size: 1em; }

.workspace.mode-florix .canvas::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #363639 transparent transparent transparent;
  border-width: 2em 2em 0 2em; }
.workspace.mode-florix .color-info {
  box-shadow: 0 .5em 5em -1em #000; }
.workspace.mode-florix .color-ring > div .color-brick {
  border-radius: 100%;
  box-shadow: 1.5em 0 2.5em -2em rgba(0, 0, 0, 0.65); }
  .workspace.mode-florix .color-ring > div .color-brick.current::after {
    content: '';
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    width: 1em;
    height: 1em;
    line-height: 0;
    border-radius: 1em;
    background: currentColor; }
  .workspace.mode-florix .color-ring > div .color-brick.current .hex {
    background: none;
    color: inherit; }
  .workspace.mode-florix .color-ring > div .color-brick .hex {
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
    color: inherit; }
.workspace.mode-florix .color-ring > div.flip-my-hex .color-brick .hex {
  transform: translateX(-50%) rotate(180deg) translateZ(0); }
.workspace.mode-florix .color-ring > div:nth-last-child(-n+2) {
  transition: none; }
.workspace.mode-florix .color-ring > div:last-child {
  transform-origin: right bottom; }
  .workspace.mode-florix .color-ring > div:last-child .color-brick {
    pointer-events: none;
    border-radius: 0 100% 10%/20% 55%;
    box-shadow: 0.7em 1em 1.5em -1em rgba(0, 0, 0, 0.65); }
    .workspace.mode-florix .color-ring > div:last-child .color-brick::after {
      left: 0; }
.workspace.mode-tanuki .history-toggle {
  background: #000; }
.workspace.mode-tanuki .color-info {
  box-shadow: .35em -.1em 0 -.1em #000, .3em .3em 0 -.1em #000;
  transform: translateY(70%); }
.workspace.mode-tanuki .color-ring > div {
  top: -100vmax;
  right: -5%;
  bottom: 50%;
  left: -5%; }
  .workspace.mode-tanuki .color-ring > div .color-brick {
    border-radius: 50% 20% 50% 100%;
    box-shadow: -1em 0 0 -.9em #000, 1em 0 0 .8em #000; }
.workspace.mode-tanuki.fav-blocks .color-ring {
  font-size: 0; }
  .workspace.mode-tanuki.fav-blocks .color-ring > div {
    top: 5vmax; }
    .workspace.mode-tanuki.fav-blocks .color-ring > div .color-brick {
      box-shadow: 0 0 0 0; }
.workspace.mode-blook .color-ring > div {
  top: 5vmax; }
.workspace.mode-blook .color-info {
  border-radius: 1.35em; }
.workspace.fav-blocks .color-info {
  box-shadow: none;
  transform: none;
  width: 100vw;
  transition-duration: 1.5s;
  border-radius: 0 !important; }
.workspace.fav-blocks .palette .color-brick {
  justify-content: flex-end;
  flex: 0 0 20%;
  font-size: 1.5vmax; }
  .workspace.fav-blocks .palette .color-brick:not(.current) .hex {
    color: inherit; }
  .workspace.fav-blocks .palette .color-brick .hex {
    transform: translateY(-25%);
    border-radius: .35em; }
    .workspace.fav-blocks .palette .color-brick .hex::before, .workspace.fav-blocks .palette .color-brick .hex::after {
      display: none; }
.workspace.fav-blocks .palette .manage {
  font-size: 1em; }
.workspace.fav-blocks .canvas {
  flex: 0 0 auto; }
  .workspace.fav-blocks .canvas .color-ring > div {
    top: 5vmax; }
  .workspace.fav-blocks .canvas .panel,
  .workspace.fav-blocks .canvas .history-toggle {
    display: none; }
.workspace input[type="range"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: .5em;
  margin: 1em 0;
  vertical-align: middle;
  font-size: 1em;
  border-radius: 1em; }
  .workspace input[type="range"]::-webkit-slider-runnable-track {
    border-radius: 1em;
    height: .5em;
    background: #FFF; }
  .workspace input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 1em;
    height: 1em;
    transform: scale(1.25, 1.25);
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 0.5em 0 rgba(255, 255, 255, 0.65);
    background: #FFF;
    margin-top: -.25em;
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5), 0 0 0 0.5em rgba(255, 255, 255, 0.35); }
  .workspace input[type="range"]::-moz-range-track {
    border-radius: 1em;
    height: .5em;
    background: #FFF; }
  .workspace input[type="range"]::-moz-range-thumb {
    width: 1em;
    height: 1em;
    transform: scale(1.25, 1.25);
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 0.5em 0 rgba(255, 255, 255, 0.65);
    background: #FFF;
    margin-top: -.25em; }
  .workspace input[type="range"]:focus {
    box-shadow: none;
    outline: none; }
  .workspace input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.5), 0 0 0 0.5em rgba(255, 255, 255, 0.35); }
  .workspace input[type="range"]:focus::-moz-range-thumb {
    box-shadow: 0 0 1em 0 #FFF;
    box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0.35); }
  .workspace input[type="range"]::-moz-focus-outer {
    border: 0; }
.workspace input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  background: transparent;
  box-shadow: 0 0 0 .2em;
  padding: 1em 2em;
  border-radius: 1em;
  font-size: 2.5vmin;
  font-family: inherit;
  cursor: pointer;
  color: inherit;
  outline: 0;
  vertical-align: middle;
  margin: -.665em 0;
  transition: background 0.3s ease-out; }
  .workspace input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%) scale(0.8);
    background: white;
    padding: 1em;
    border-radius: 1em;
    transition: transform 0.3s ease-out; }
  .workspace input[type="checkbox"]::after {
    content: attr(data-off);
    position: absolute;
    top: 50%;
    left: calc(100% + .2em);
    transform: translateY(-50%);
    color: rgba(51, 204, 255, 0.7); }
  .workspace input[type="checkbox"]:checked {
    background: rgba(255, 255, 255, 0.6); }
    .workspace input[type="checkbox"]:checked::before {
      transform: translate(0%, -50%) scale(0.8);
      box-shadow: 0 0 1em 0; }
    .workspace input[type="checkbox"]:checked::after {
      content: attr(data-on); }

@media screen and (max-width: 40em), screen and (orientation: portrait) {
  .workspace .main {
    font-size: 1.2vmax; } }
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi) {
  .menu,
  .sliders > div:not(.gap) {
    background-color: rgba(0, 0, 0, 0.35);
    -webkit-backdrop-filter: blur(2em);
            backdrop-filter: blur(2em); } }

/*# sourceMappingURL=styles.css.map */