// keyframes
@keyframes floating {
    0% {transform:translateY(0);}
    50% {transform:translateY(-30%);}
    100% {transform:translateY(0);}
}

@keyframes flex-grow {
  100% {flex: 1;}
}
@keyframes flex-shrink {
  100% {flex: 0 0 auto;}
}

@keyframes flexGrow-0-1 {
    0% {flex-grow: 0;}
    100% {flex-grow: 1;}
}

@keyframes flexShrink-1-0 {
    0% {flex-shrink: 1;}
    100% {flex-shrink: 0;}
}

@keyframes flexGrow-1-2 {
    0% {flex-grow: 1;}
    100% {flex-grow: 2;}
}

@keyframes flexShrink-2-1 {
    0% {flex-shrink: 2;}
    100% {flex-shrink: 1;}
}

// utility classes
.floating {
    animation: floating 2s infinite linear;
}
