*, *:before, *:after {box-sizing: border-box;}



[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

[ng-click], [tap] {
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0, 0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}

body {
  font-family: var(--base-font);
  font-size: 18px;
}

h1, h2, h3, h4, h5 ,h6, p, ul, ol {
  padding: 0;
  margin: 0;
  + h1, + h2, + h3, + h4, + h5, + h6, + p, + ul, + ol {
    margin-top: 1.5em;
  }
}
h1 {
  font-weight: 300;
  font-size: 2.7em;
}
h2 {
  font-weight: 300;
  font-size: 1.5em;
}
p {
  text-align: justify;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

.subtext {
  font-size: .7em;
  opacity: .5;
}

.ghost {
  opacity: .4;
}

.vapor {
  opacity: 0;
}

.text-left {text-align:left;}
.text-center {text-align:center;}
.text-right {text-align:right;}
