body {
  background: var(--light);
  color: var(--dark);
}

.bg-air {background: transparent;}
.bg-apple {background: var(--apple);color: contrast-color($apple);}
.bg-tangerine {background: var(--tangerine);color: contrast-color($tangerine);}
.bg-banana {background: var(--banana);color: contrast-color($banana);}
.bg-kiwi {background: var(--kiwi);color: contrast-color($kiwi);}
.bg-sky {background: var(--sky);color: contrast-color($sky);}
.bg-berry {background: var(--berry);color: contrast-color($berry);}
.bg-plum {background: var(--plum);color: contrast-color($plum);}
.bg-light {background: var(--light);color: contrast-color($light);}
.bg-dark {background: var(--dark); color: contrast-color($dark);}
.bg-active {background: var(--active);color: contrast-color($active);}

.fg-air {color: transparent;}
.fg-apple {color: var(--apple);}
.fg-tangerine {color: var(--tangerine);}
.fg-banana {color: var(--banana);}
.fg-kiwi {color: var(--kiwi);}
.fg-sky {color: var(--sky);}
.fg-berry {color: var(--berry);}
.fg-plum {color: var(--plum);}
.fg-light {color: var(--light);}
.fg-dark {color: var(--dark);} //$dark;}
.fg-active {color: var(--active);}
