$timing-func: cubic-bezier(.85,-1,.15,1.6);

.wrapper {
  transition: all .3s ease-out;
}
.workspace  {
  .main {
    flex-direction: column;
    font-size: 1.2vmin;
    font-family: "DIN Alternate", monospace;
    h1 {
      font-weight: 300;
      font-size: 2.7em;
      margin: .3em 0;
    }
    h2 {
      font-weight: 300;
      font-size: 1.5em;
    }
    &.slidersActive .sliders {
      transform: translate(0, 0);
    }
    &.menuActive {
      .controls.top b {
        flex: 1;
      }
      .menu {
        transform: translate(0, 0);
      }
    }
    &:not(.tanuki-mode) {
      .color-info {
        width: 30vmax;
        height: 30vmax;
        box-shadow: 0 .5em 5em -1em #000;
      }
      .color-ring-outer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .color-ring {
        > div {
          .color-brick {
            border-radius: 100%;
            box-shadow: 1.5em 0 2.5em -2em rgba(#000, .65);
            &.current {
              &::after {
                content: '';
                position: absolute;
                top: 1em;
                left: 50%;
                transform: translateX(-50%);
                width: .5em;
                height: .5em;
                line-height: 0;
                border-radius: 100%;
                background: $light;
                box-shadow: 0 0 0 2px $dark;
              }
              span {
                background: none;
                color: inherit;
              }
            }
            span {
              position: absolute;
              top: -2em;
              left: 50%;
              transform: translateX(-50%);
              color: inherit;
            }
          }
          &.flip-my-hex .color-brick span {
            transform: translateX(-50%) rotate(180deg);
          }
          &:nth-last-child(-n+2) {
            transition: none;
          }
          &:last-child {
            transform-origin: right bottom;
            .color-brick {
              pointer-events: none;
              border-radius: 0 100% 10%/20% 60%;
              box-shadow: .7em 1em 1.5em -1em rgba(#000, .65);
              &::after {
                left: 0;
              }
            }
          }
        }
      }
    }
    &.tanuki-mode {
      .history {
        background: #000;
      }
      .color-info {
        margin: -10vmin 0 0 0;
        width: 40vmin;
        height: 40vmin;
        box-shadow: .35em -.1em 0 -.1em #000, .3em .3em 0 -.1em #000;
      }
      .color-ring {
        > div {
          top: -100vmax;
          right: 10%;
          bottom: 50%;
          left: 10%;
          .color-brick {
            border-radius: 0 20% 50% 100%;
            box-shadow: -1em 0 0 -.9em #000, 1em 0 0 .8em #000;
            &.current {
              &::after {
                left: 30%;
                top: 80%;
                width: 1em;
                height: 1em;
              }
            }
          }
        }
      }
    }
  }
  .canvas {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 1;
    flex: 7;
  }
  .menu {
    font-size: 3vh;
    line-height: 2;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(0, -101%);
    transition: transform .3s $timing-func;
    // background: inherit; //rgba($light, 1);
    // color: inherit; //$dark;
    background: rgba(#000, .35);
    color: $light;
    backdrop-filter: blur(.5em);
    > div {
      position: relative;
      z-index: 1;
      flex: 0 0 calc(100%/3);
      display: flex;
      font-size: .8em;
      white-space: nowrap;
      padding: 1em;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &:hover {
        background: rgba($light, .1);
        backdrop-filter: blur(.5em);
        z-index: 2;
      }
    }
  }

  .sliders {
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    line-height: 2;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: auto;
    max-width: 15em;
    transform: translate(0, -101%);
    transition: transform .3s $timing-func;
    background: rgba(#000, .35);
    color: $light;
    backdrop-filter: blur(.5em);
    padding: 1em;
    > div {
      padding: 1em;
    }
    input[type=range] {
      margin-top: 0;
    }
  }
  .button-bar {
    text-align: center;
  }
  .history {
    position: absolute;
    bottom: 1em;
    right: 1em;
    background: $dark;
    color: $light;
  	border-radius: 100%;
  	padding: 2em;
    .fa {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .panel {
    padding: 0;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    z-index: 3;
    flex: 1;
    min-height: 10em;
    overflow: initial;
    &.bottom {
      border-top: 1em solid;
    }
  }
  .controls {
    position: relative;
    flex: 0 0 auto;
    line-height: 1;
    z-index: 2;
    font-size: 2.3vmax;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > div {
      padding: 1em;
      position: relative;
      display: flex;
      align-items: center;
      line-height: 0;
      &.active {
        color: $active;
      }
      span {
        display: none;
      }
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .hex-font {
    font-family: "DIN Alternate", monospace;
    text-transform: uppercase;
  }
}

.ui-fun {
  transform: scale(1);
  transition: transform .3s $timing-func;
  &:hover {
    transform: scale(1.5);
  }
  &:active {
    transform: scale(1);
  }
}
.color-display {
  align-items: center;
  position: relative;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.color-ring {
  position: relative;
  width: 24em;
  height: 24em;
  pointer-events: none;
  border-radius: 100%;
  overflow: visible;
  transform-origin: 50% 50%;
  transition: transform .3s ease-in;
  line-height: 0;
  > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: absolute;
    top: -12vmax;
    right: 50%;
    bottom: 50%;
    left: 50%;
    transform-origin: center bottom;
    transform: rotate(180deg);
    transition: transform .3s ease-in;
  }
  .color-brick {
    flex: 0 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto;
  }
}


.color-info {
  position: relative;
  text-align: center;
  font-family: monospace;
  padding: 0;
  font-size: 2.3vmin;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: .3s ease-out;
  > * + * {
    margin: 0;
  }
}
.shade-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30vmax;
  line-height: 0;
  svg {
    width: 1em;
  }
}
.color-brick {
  position: relative;
  text-align: center;
  line-height: 1;
  font-size: 1.5vmax;
  padding: .5em;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  span {
    display: inline-block;
    padding: .5em 1em;
    transition: .3s ease-out;
    flex: 0 0 auto;
    border-radius: 2em;
  }
  &.current {
    z-index: 2;
    span {
      background: $dark;
      color: $light;
    }
  }
  &.ui-sortable-helper {
    transform: rotate(-3deg);
    box-shadow: 0 .5em 1em -.35em rgba(#000, .65);
    z-index: 50;
  }
  &.ui-sortable-placeholder,
  &.parking-spot {
    background: repeating-linear-gradient(
      45deg,
      rgba(#000, .15),
      rgba(#000, .15) .5em,
      transparent .5em,
      transparent 1em
    );
    &::after {
      content: '-------';
      display: inline-block;
      font-size: 85%;
      padding: .5em 1em;
    }
  }
}

.main:not(.always-show-hex) .color-brick {
  span {font-size: 0;}
  &.current span,
  &:hover span {font-size: 1em;}
}

.workspace {
  .controls.top {
    background: $light;
    color: $dark;
    > div {
      span {
        top: 6em;
        transform: translate(-50%, -50%) rotate(-45deg) scale(0);
        border-radius: 100% 10% 100% 100%;
      }
      &:hover span {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
      }
    }
  }

  .controls.bottom {
    justify-content: center;
    background: none;
    color: inherit;
    > div {
      span {
        top: -4em;
        transform: translate(-50%, -50%) rotate(-45deg) scale(0);
        border-radius: 100% 100% 100% 10%;
      }
      &:hover span {
        transform: translate(-50%, -50%) rotate(-45deg) scale(1);
      }
    }
  }
  // SLIDERS
  input[type="range"] {
    padding: 0;
    border: 0;
    vertical-align: middle;
    position: relative;
    width: 100%;
    border-radius: .2em;
    height: .5em;
    margin: 1em 0;
    background: $light; //rgba($dark, .3);

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 1em;
      height: 1em;
      transform: scale(1.25, 1.25);
      border: none;
      border-radius: 100%;
      box-shadow: 0 0 1em 0;
      background: $light;
    }
  }
}

@media screen and (max-width: 40em), screen and (orientation: portrait) {
  .workspace {
    .main {
      font-size: 1.2vmax;
    }
    .canvas {
      flex-direction: column;
    }
  }
}
