html, body, .wrapper {
    overflow: hidden;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    header {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: $transition ease-out;
        .mark {
            flex: 1;
            padding: $gutter/4 $gutter/2;
            font-size: 1.5em;
        }
    }
    .workspace {
        position: relative;
        z-index: 1;
        flex: 1;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}


.workspace {
    display: flex;
    flex-direction: row;
    flex: 1;
    .main {
        position: relative;
        transition: flex-grow .3s ease-out;
        flex-grow: 2;
        flex-shrink: 1;
        flex-basis: 100%;
        // padding: $gutter;
        z-index: 1;
        display: flex;
        flex-direction: row;
    }
    .visual {
        flex: 1 0 auto;
    }
    .canvas {
        flex: 1;
        padding: $gutter*3 $gutter;
        overflow: auto;
    }
    .settings {
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        overflow: auto;
        background: $dark;
        padding: $gutter;
        color: $light;
        overflow: auto;
        > * {
            flex: 0 0 auto;
        }
    }
}

.separator {
    // border: 0;
    background: currentColor;
    height: 2px;
    display: block;
    margin: 1em 0;
    opacity: .5;
}

.form-row {
    display: flex;
    align-items: center;
    padding: .5em 0;
    > * {
        flex: 1;
        margin: 0 5em;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
