.as-sortable-item {
  background-color: var(--light);
  -ms-touch-action: auto;
  touch-action: auto;
}

.as-sortable-item-handle {
  cursor: move;
}

.as-sortable-placeholder {
  width: auto !important;
  height: auto !important;
  box-shadow: 0 0 0 .3em var(--light) inset;
  &::after {
    content: ''; //'-------';
    display: inline-block;
  }
}

.as-sortable-drag {
  transform: rotate(-3deg);
  box-shadow: 0 .5em 1em -.35em rgba(#000, .65);
  position: absolute;
  pointer-events: none;
  font-size: .8em;
  padding: 0;
  min-height: 0 !important;
  display: block !important;
  background: none !important;
  z-index: 50 !important;
  .as-sortable-item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.as-sortable-hidden {
  display: none !important;
}
