.favorites {
  flex: 1;
  display: flex;
}

.controls {
  flex: 0 0 auto;
  background: var(--dark);
  color: var(--light);
  display: flex;
}

.canvas {

}

.sliders {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 35%;
  display: flex;
  flex-flow: column;
  background: var(--smoke);
}

@supports (backdrop-filter: blur(2em)) {
  .menu,
  .sliders {
    backdrop-filter: blur(2em)
  }
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 35%;
  display: flex;
  flex-flow: column;
  background: var(--smoke);
}

.history {

}

// states
.favoritesActive {
  .canvas {
    flex: 0 0 auto;
  }
}

// get/set these in script
// var(--tanuki-flarp) -vmax
// var(--tanuki-ichtzy) -%
// var(--florix-zarrt) -vmax
// var(--florix-borgee) %
// var(--florix-borgee) *2 %
// var(--florix-borgee) *10/10)+5 %
// var(--florix-gloosh) %
// var(--florix-shaado) em
// var(--florix-shaado) /3 em
// var(--florix-shaada) em
// var(--florix-syrris) %
// var(--kulra)


// .mode-tanuki .color-ring > div {
//   top: {{-preferences.tweeks.tanuki.flarp}}vmax;
//   right: {{-preferences.tweeks.tanuki.ichtzy}}%;
//   left: {{-preferences.tweeks.tanuki.ichtzy}}%;
// }
//
// .mode-florix .color-ring > div {
//   top: {{-preferences.tweeks.florix.zarrt}}vmax;
// }
// .mode-florix .color-ring > div .color-brick {
//   border-radius: {{preferences.tweeks.florix.borgee}}%;
//   height: {{preferences.tweeks.florix.gloosh}}%;
// }
// .mode-florix .color-ring > div:last-child .color-brick {
//   border-radius: 0 {{(preferences.tweeks.florix.borgee*2)}}% 10%/20% {{(preferences.tweeks.florix.borgee*10/10)+5}}%;
// }
// .mode-florix .color-info {
//   box-shadow: 0 {{preferences.tweeks.florix.shaado/3}}em {{preferences.tweeks.florix.shaado}}em {{preferences.tweeks.florix.shaada}}em {{kulra}};
//   border-radius: {{preferences.tweeks.florix.syrris}}%;
// }
